**The data is a heavily modified version of the Superheroes dataset from Kaggle.**

# Imports and Data Loading

In [1]:
#Importing all of the libraries that may be needed for the project
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [32]:
#Loading the data from the url
info_url ="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1ZstYLwFgwhZnqDsPjtnlHYhJp_cmW55J8JD5mym0seRsaem3px7QBtuFF0LiI7z1PLCkVKAkdO7J/pub?output=csv"
powers_url ="https://docs.google.com/spreadsheets/d/e/2PACX-1vSzdWOBaXOoz52vPmCFV5idNlDBohLY1Lsbc1IfZIZQ7cV_aNB2wYBfhF49uE1TaO1B5MQCGWiNrFfd/pub?output=csv"
infos = pd.read_csv(info_url, sep=',',  engine='python')
powers = pd.read_csv(powers_url, sep=',', engine='python')
#Read a csv file to a dataframe with multiple delimiters in regular expression
#usersDf =  pd.read_csv('users_5.csv',  sep='[:,|_]', engine='python')

# Data Cleaning

## Infos Data Cleaning

In [33]:
infos.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [35]:
infos[['Hero','Publisher']] = infos['Hero|Publisher'].str.split('|',expand=True)
infos= infos.drop(columns = ['Hero|Publisher'])
infos.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}",Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}",Absorbing Man,Marvel Comics

In [39]:
measure = infos.loc[1,"Measurements"]
print(type(measure))
measure

<class 'str'>

"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"

In [40]:
import json
measure = measure.replace("'",'"')
measure = json.loads(measure)
print(type(measure))

<class 'dict'>

In [41]:
## use .str.replace to replace all single quotes
infos['Measurements'] = infos['Measurements'].str.replace("'",'"')
## Apply the json.loads to the full column
infos['Measurements'] = infos['Measurements'].apply(json.loads)
infos['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [43]:
#Unpack a column of dictionaries into separate columns
Measurements = infos['Measurements'].apply(pd.Series)
Measurements.head()

     Height    Weight
0  203.0 cm  441.0 kg
1  191.0 cm   65.0 kg
2  185.0 cm   90.0 kg
3  203.0 cm  441.0 kg
4  193.0 cm  122.0 kg

In [51]:
#remove the units
Measurements[['Heights', 'Height_unit']] = Measurements['Height'].str.split(' ',expand=True)
Measurements[['Weights', 'Weight_unit']] = Measurements['Weight'].str.split(' ',expand=True)
Measurements.head()

     Height    Weight Heights Height_unit Weights Weight_unit
0  203.0 cm  441.0 kg   203.0          cm   441.0          kg
1  191.0 cm   65.0 kg   191.0          cm    65.0          kg
2  185.0 cm   90.0 kg   185.0          cm    90.0          kg
3  203.0 cm  441.0 kg   203.0          cm   441.0          kg
4  193.0 cm  122.0 kg   193.0          cm   122.0          kg

In [52]:
Measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Height       463 non-null    object
 1   Weight       463 non-null    object
 2   Heights      463 non-null    object
 3   Height_unit  463 non-null    object
 4   Weights      463 non-null    object
 5   Weight_unit  463 non-null    object
dtypes: object(6)
memory usage: 21.8+ KB

In [53]:
Measurements['Heights'] =Measurements['Heights'].astype(float)
Measurements['Weights'] =Measurements['Weights'].astype(float)
Measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Height       463 non-null    object
 1   Weight       463 non-null    object
 2   Heights      463 non-null    float64
 3   Height_unit  463 non-null    object
 4   Weights      463 non-null    float64
 5   Weight_unit  463 non-null    object
dtypes: float64(2), object(4)
memory usage: 21.8+ KB

In [ ]:
infos= infos.drop(columns = ['Measurements'])

In [55]:
#pulling in the new columns to the original infos dataframe
infos['Heights_cm'] = Measurements['Heights']
infos['Weights_kg'] = Measurements['Weights']
infos.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Heights,Weights,Heights_cm,Weights_kg
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0,191.0,65.0
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0,90.0,185.0,90.0
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0,441.0,203.0,441.0
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0,122.0,193.0,122.0

## Powers Data Cleaning

In [56]:
powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [61]:
powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [60]:
## exploding the column of Powers
exploded = powers.explode('Powers')
exploded.head()
#exploded[['hero_names','Powers']].head(5)

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...